body{
    margin-top: 20px;
    padding: 20px;
    
    background-color: rgb(215, 240, 248);
}
h1{
    text-align: center;
    font-size: 50px;
    color: rgb(125, 30, 214);
}
img{
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
    border:5px solid #FFFFFF;
}
h2,h3,h4{
    color: blueviolet;
    text-decoration: underline #000000 2px;
}
h2{
    font-size: 1.9em
}
h3{
    font-size: 1.7em;
}
h4{
    font-size: 1.5em;
}
p,li{ 
    font-size: 18px;
}